<div class='footer'>
  <div class='footer-contents'>
    <div class='shoefit-pro-details'>
      <h2 class='footer-content-head'>SHOEFIT-PROについて</h2>
      <ul>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SHOEFIT-PRO利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'SHOEFIT-PROロゴ利用ガイドライン', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("shoefit-pro-logo-white.png", class:"logo-white"), "#" %>
  <p>© SHOEFIT-PRO</p>
</div>