a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「プロのための足計測アプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: url('shoefit-pro-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 6vh;
}

.service-explain {
  font-size: 2vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

/* //画面上部の「プロのための足計測アプリ」帯部分 */

/* 理想の靴サイズを計測しよう部分 */
.measuredsize-contents {
  padding: 5vh 15vw;
  text-align: center;
}

.measuredsize {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.measuredsize-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.measuredsize-sample-pict {
  margin-bottom: 20px;
  width: 100%;
}

.measuredsize-red-btn {
  width: 50%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

