a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「理想の靴サイズを計算しよう」帯部分 */
.title-contents {
  width: 100vw;
  background-image: url('shoefit-pro-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.calculate-shoesize-title {
  font-size: 4vh;
}

/* //画面上部の「理想の靴サイズを計算しよう」帯部分 */

/* 理想の靴サイズを計測しよう部分 */
.measuredsize-contents {
  padding: 5vh 10vw;
  text-align: center;
}

.explain-title {
  font-size: 2vh;
}

.measuredsize {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.measuredsize th,
.measuredsize td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

/* 1行目の背景色を指定 */
.measuredsize tr:first-child th {
  background-color: #9C8678;
  color: #fff;
}

/* 2行目以降の背景色を指定 */
.measuredsize tr:not(:first-child) {
  background-color: #F6F3EC;
}

.measuredsize-red-btn {
  width: 50%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

